<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitdback.posedetection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_fitdback"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme"
        >

        <activity
            android:name="com.fitdback.userinterface.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 앱 중단 에러 방지 -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fitdback.userinterface.LoginSuccessActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 앱 중단 에러 방지 -->

        </activity>
        <activity
            android:name="com.fitdback.userinterface.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 앱 중단 에러 방지 -->

        </activity>
        <activity
            android:name="com.fitdback.userinterface.TutorialActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 앱 중단 에러 방지 -->
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" /> <!-- MyPageFragement ~ -->
        <activity
            android:name="com.fitdback.userinterface.MyPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 앱 중단 에러 방지 -->
        </activity>
        <activity
            android:name="com.fitdback.userinterface.UserInformationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 앱 중단 에러 방지 -->
        </activity>
        <activity
            android:name="com.fitdback.userinterface.StatisticsPopUpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 앱 중단 에러 방지 -->
        </activity>

        <activity
            android:name="com.fitdback.test.HealthMemoTestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="com.fitdback.test.FeedbackTestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.fitdback.userinterface.FeedbackActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.fitdback.test.DevActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>